boto==2.48.0
coverage==4.4.1
cssselect==1.0.1
cssutils==1.0.2
dj-database-url==0.4.2
Django==1.10
django-appconf==1.0.1
django-compressor==2.1
django-ses-backend==0.1.1
djmail==0.11.0
futures==3.0.3
gunicorn==19.7.1
lxml==3.8.0
mock==2.0.0
pbr==3.1.1
premailer==2.9.6
psycopg2==2.6.1
python-http-client==3.0.0
rcssmin==1.0.6
requests==2.9.1
rjsmin==1.0.12
sendgrid==3.6.5
sendgrid-django==4.0.4
six==1.10.0
whitenoise==3.3.0
